@{
    ViewBag.Title = "Home Page";
}

<h2>HOME </h2>

Welcome @HttpContext.Current.User.Identity.Name

@if(Request.IsAuthenticated)
{
    using (Html.BeginForm("SignOut","Register",FormMethod.Post, new {id="logoutForm"}))
    {
        <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
    }
}