@*@model Notestash_Admin.Models.notesData*@

@{
    ViewBag.Title = "SelectedUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SelectedUser</h2>

<i class="fas fa-trash-alt" style="color:red;float:right" onclick="location.href='@Url.Action("DeleteSelectedUser", "UserData", new { id = Model.Id })'"> </i>